#root {
  max-width: 1280px;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
}
.hidden {
  display: none;
}

.line {
  text-decoration: line-through;
  color: rgb(170, 170, 170)
}

ul {
  list-style: none;
}

li {
  border-bottom: 1px solid black;
  width: 500px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.div {
  display: flex;
  gap: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
}

.btn {
  background-color: #adbce1;
  height: 30px;
  width: 70px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.finishBtn {
  background-color: #c8d1eb;
  height: 30px;
  width: 70px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.plus {
  display: flex;
  justify-content: end;
}

.plusInput {
  height: 25px;
}

.plusBtn {
  background-color: #5473bf;
  height: 30px;
  width: 70px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.title {
  font-size: 50px;
  color: white;
  text-shadow:
    0 0 10px #adbce1,
    0 0 15px #5473bf;
}